@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 600px) {
    .flex-page {
        display: grid !important;
        background: #f7f7f7 !important;
    }

    .texto {
        left: 56% !important;
        font-size: 11px !important;
        width: 80% !important;
    }

    .texto-span {
        font-size: 10px !important;
    }

    .btn-cota {
        padding: 10px 2rem 10px 2rem !important;
        font-size: 13px !important;
    }

    .btn-confira {
        padding: 10px 2rem 10px 2rem !important;
        background: #147933 !important;
        font-size: 10px !important;
        color: #F6F6F6 !important;

    }

    .p-nome-projeto {
        font-size: 7px !important;
    }



    .image_nome {
        width: 35% !important;
    }

    .texto_nome {
        left: 11% !important;
    }

    .icon-container {
        left: 0 !important;
    top: 16% !important; 
    }



    .btn-arvorometro {
        margin: 0px 9px 2px 9px !important;
        font-size: 11px !important;
    }

    .card-arvorometro {
        width: 8rem !important;
    }

    .titulo-arvorometro {
        font-size: 30px !important;
    }



    .subtitulo-arvorometro {
        font-size: 11px !important;
    }

    .texto-nuvem-branca {
        font-size: 9px !important;
        padding-right: 11% !important;
    }

    .span-nuvem-branca {
        font-size: 10px !important;
    }

    .speech-bubble {
        padding: 10px 3px 6px 19px !important;
        max-width: 80% !important;

    }

    .speech-bubble>p {
        font-size: 10px !important;
        letter-spacing: 0px !important;
        line-height: 16px !important;
    }

    .speech-bubble>p>span {
        font-size: 10px !important;

    }

    .speech-bubble::before {
        right: 89% !important;
        top: 50px !important;
    
    } 

    .speech-bubble-2>p {
        font-size: 10px !important;

    }

    .speech-bubble-2>p>span {
        font-size: 10px !important;

    }
}

.image-nuvem {
    max-width: 100%;
    height: auto;
}



.titulo-modal {
    color: #E1DC4C;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-adquirir {
    background: #147933;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    padding: 10px 4rem 10px 4rem;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
}

.btn-plus {
    font-size: 25px;
    color: #147933;
    font-weight: 800;
}

.col-nuvem {
    background: #f7f7f7;
    height: auto;
}

.col-arvorometro {
    background: #135b2d;
    height: 100vh;
}

.col-map {
    height: 100px;
    margin-top: 10%;
    text-align: center;
}

.card-arvorometro {
    width: 13rem;
    border-radius: 10%;
    padding-bottom: 10px;
}

.btn-confira {
    background: #e3de3a;
    border-radius: 20px;
    margin: 0px 5px 24px 5px;
    padding: 4px 3rem 4px 3rem;
    color: #382D1D;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 29px;
    text-decoration: underline;
    font-family: "Montserrat";
}

.input-text {
    padding: 10px;
    margin-bottom: 2%;
    width: 80%;
    border: 1px #333;

}

.input-number {
    color: #e3de3a;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.btn-cota {
    background: #e3de3a;
    border-radius: 25px;
    margin: 5px 9px 5px 10px;
    padding: 12px 5rem 12px 5rem;
    color: #382D1D;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

#circulo {
    background: #E1DC4C;
    border-radius: 50%;
}

.btn-arvorometro {
    background: #e3de3a;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 23px 2px 22px;
    padding: 7px 0rem 5px 0rem;
    color: #382D1D;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;

}

.p-modal-presente {
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.titulo-arvorometro {
    color: #E1DC4C;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.subtitulo-arvorometro {
    color: #375B31;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.h4-arvore {
    margin: 10px;
    color: #147933;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.h4-nome-projeto {
    color: #E1DC4C;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.p-nome-projeto {
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.image_nome {
    position: absolute;
    top: 0;
    left: 7%;
    width: 10%;
}

.center-arvorometro {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-fechar {
    border: 1px solid #fff;
    background: #fff;
    margin: 0;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;

}

.texto_nome {
    position: absolute;
    text-align: justify;
    left: 115px;
    top: 42%;
    font-size: 20px;
    font-style: normal;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transform: translate(+0%, +50%);
}

.image {
    max-width: 100%;
    height: auto;
}

.texto {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: start;
}

.texto-span {
    color: #E1DC4C;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.texto-nuvem-branca {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #147933;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 70%;
}

.span-nuvem-branca {
    color: #147933;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}
.btn:hover {
    background-color: initial;
    color: initial;
    border-color: initial;
  }

.nuvem {
    position: relative;
    text-align: center;
    margin-top: 10%;
    margin-left: 50%;
}

.arvore {
    text-align: center;
}

.nuvem-branca {
    position: relative;
}

.img-arvore {
    max-width: 50%;
    max-height: 100%;
}

.img-folha01 {}



.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    
    
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}

.teste {
    font-family: Arial, sans-serif;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.speech-bubble {
    position: relative;
    background-color: #147933;
    border-radius: 39px;
    padding: 10px 3px 6px 32px;
    max-width: 70%;
    text-align: center;
    margin-bottom: 8%;
}

/* .p-speech {
    font-size: 18px;
letter-spacing: 0px;
line-height: 22px;
color: #ffffff;
font-weight: 500;
font-family: "Montserrat";
text-align: start;
} */

.speech-bubble>p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: start;
}

.speech-bubble>p>span {
    color: #E1DC4C;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.speech-bubble::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 11px 33px 8px 0;
    border-color: transparent #147933 transparent transparent;
    right: 95%;
    top: 59px;
    transform: rotate(-31deg);
}

.speech-bubble-2 {
    position: relative;
    background-color: #fff;
    border-radius: 50px;
    padding: 13px 9px 12px 27px;
    max-width: 94%;
    text-align: start;
}

.speech-bubble-2>p {
    color: #47793C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.speech-bubble-2>p>span {
    color: #47793C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.speech-bubble-2::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 11px 33px 10px 0;
    border-color: transparent #fff transparent transparent;
    right: 96%;
    top: 62px;
    transform: rotate(-19deg);

}
.loading {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-modal::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Ajuste a opacidade conforme necessário */
  z-index: 998; /* Coloque abaixo do modal */
}


.rounded-square {
    width: 142px;
    height: 122px;
    background-color: #147933;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    color: #F6F6F6;
    position: absolute;
    top: 0;
    left: 7%;
}

.number-cota {
    font-family: Poppins-Bold;
        font-size: 43px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
    }

    .p-numer-cota {

        font-size: 13px;
        color: #666666;
        line-height: 1.2;
        text-align: center;
    
    }

    .subtitle {
        font-family: ui-monospace;
        font-size: 16px;
        color: #333333;
        line-height: 1.2;
        text-align: end;
        width: 100%;
        display: block;
        padding-top: 0 !important;
    }


    
    .icon-container {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #147933;
        border-radius: 50%;
        left: 19%;
        top: 1%;
    }

    .notification-icon {
        color: rgb(255, 255, 255) !important;
    align-items: center;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 40px;
    }

.notification-badge {
    position: absolute;
    top: -5px;
    right: -4px;
    background-color: #e74c3c;
    /* Cor de fundo do número de notificações */
    color: #fff;
    /* Cor do texto */
    border-radius: 50%;
    /* Formato de círculo */
    width: 20px;
    /* Largura do número */
    height: 20px;
    /* Altura do número */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    /* Tamanho da fonte do número */
}

